<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SBER</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f9f9f9;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <a href="https://sber.ru" target="_blank">
        <img src="{% static 'images/photo.png' %}" alt="Sber Bank"">
    </a>
</body>
</html>